:root {
  --primary-color: #151515;
  --secondary-color: #ffcc00;
  --background-color:white;
}

body {
  background-color: var(--background-color);
}


.highlight {
  color: var(--secondary-color);
  font-family: "Gilroy ExtraBold";
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 18px;
  margin-left: 2rem;
}

.logo {
  stroke: var(--secondary-color);
}

.parent {
  display: flex;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.box:first-child > a {
  margin-right: auto;
}
.box:last-child  > span {
  margin-left: auto;
}


nav {
  position: fixed;
  top: 0;
  min-width: 100vw;
  padding: 0.3rem;
  background-color: var(--primary-color);
}

.accent-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
nav ul{
  list-style-type: none;
}

nav li a{
  color: var(--background-color);
  padding: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Gilroy ExtraBold";

}

hr {
  margin: auto 0 auto 0;
  width: 5rem;
  display: inline;
  border-top: 2px solid var(--secondary-color);
  color: var(--secondary-color);

}

header {
  background-image: url("/img/hero-bg.png");
  background-color: #151515;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;

  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

}



.article-feature {
  max-height: 100vh;
  max-width: 100vw;
  margin: 10vh 5vw 20vh 16vw;
  display: flex;
  position: relative;

}

.index {
  font-family: "Gilroy ExtraBold";
  font-size: 240px;
  color: rgb(0, 0, 0, 10%);
  margin: 0 0 0 0;
  position: relative;
  top: 180px;
  right: 150px;

}

.caption-box {
  position: relative;
  right: 25px;
}

.title {
  color: black;
}

.caption {
  font-family: "Gilroy ExtraBold";
  font-size: 18px;
  color: black;

  max-width: 50vw;

}

.read-more {
  text-decoration: none;
  font-family: "Gilroy ExtraBold";
  font-size: 18px;
  color: var(--secondary-color);
}

.image {



}

h1 {
  margin: 0 0 0 0;
  font-family: "Chronicle Display Semi";
  color: white;
  text-transform: capitalize;
  font-size: 88px;
}

.scroll {
  font-family: "Gilroy ExtraBold";
  text-transform: capitalize;
  font-size: 18px;
  color: var(--background-color);
}
