:root {
  --primary-color: #151515;
  --secondary-color: #ffcc00;
  --background-color:white;
}

body {
  background-color: var(--background-color);
}


.highlight {
  color: var(--secondary-color);
  font-family: "Gilroy ExtraBold";
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 18px;
  margin-left: 2rem;
}

.logo {
  stroke: var(--secondary-color);
}

.parent {
  display: flex;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.box:first-child > a {
  margin-right: auto;
}
.box:last-child  > span {
  margin-left: auto;
}


nav {
  position: fixed;
  top: 0;
  min-width: 100vw;
  padding: 0.3rem;
  background-color: var(--primary-color);
}

.accent-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav ul{
  list-style-type: none;
}

nav li a{
  color: var(--background-color);
  padding: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Gilroy ExtraBold";

}

hr {
  margin: auto;
  width: 5rem;
  display: inline;
  border-top: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

header {
  background-image: url("/img/hero-bg.png");
  background-color: #151515;
  background-size: cover;

  min-height: calc(100vh);
  display: flex;

}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}



h1 {
  font-family: "Chronicle Display Semi";
  color: var(--background-color);
  text-transform: capitalize;
  font-size: 88px;
}

.scroll {
  font-family: "Gilroy ExtraBold";
  text-transform: capitalize;
  font-size: 18px;
  color: var(--background-color);
}
